@media screen and (max-width:1440px) and (min-width:375px) {
  

* {
  margin: 0;

  padding: 0;
}

body {
  background-color: hsl(0, 0%, 0%);

  display: flex;

  align-items:center;

  min-height: 100vh;
}

main {
  display: grid;
  grid-template-areas: 
  "a a b"
  "c d d"
  "c e e"
  ;
  width: 50%;
  margin: auto;
  gap:5px
}

main div {
  padding: 2em;
background-color: black;
  text-align: center;

  /*grid-template-areas: ;*/
}

.item-a {
  background-color: hsl(2, 90%, 50%);
  /*grid-area: a;*/
  width:150%;
  height: 7em;
}

.item-b {
  background-color: hsla(49, 91%, 45%, 0.815);
  grid-area: b;
  height: 7em;
  width:74%;
}

.item-c {
  background-color: hsl(120, 92%, 15%);
  grid-area: c;
  height: 7em;
}

.item-d {
  background-color: hsl(197, 70%, 21%);
  grid-area: d;
  height:0.2em;
}

.item-e {
  background-color: hsl(197, 70%, 21%);

  grid-area: e;
  height:2.5em;

}
}