body {
  background-color: rgb(221, 209, 194);
width: 100%;
display: flex;
min-height: 100vh;
justify-content: center;
place-content: center;
font-family: url('https://fonts.google.com/specimen/Lexend+Deca');
font-family: url('https://fonts.google.com/specimen/Big+Shoulders+Display');
}

.main {
display: flex;
max-width: 100%;
max-height: 100%;
justify-content: center;
padding: 80px 0px;
align-items: center;
}

/*SEDAN Container*/
.container-1 {
background-color: hsl(31, 77%, 52%);
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
width: 25%;
  height: 100%; 
  padding:10px;
  
}
/*SUV Container*/
.container-2 {
background-color: hsl(184, 100%, 22%);
width: 25%;
height:80%;
padding:10px;
      
}

/*LUXURY Container*/
.container-3{
background-color: hsl(179, 100%, 13%);
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
width: 25%;

          height: 80%;
          padding:10px;
          display:flex;
          flex-direction: column;
}



.btn{
  margin:100px 0;
  padding:10px 40px;
  border-radius: 30px;
  outline:none;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
/*background-color: hsl(0, 0%, 95%);*/
}


.btn:hover{
  background-color: transparent;
  color:#fff;
  transition: 0.5s;
}

.box{
  width:375px;
  padding:20px;
  min-height: 430px;
  margin-left: auto;
  margin-right: auto;
}

/*github repo button*/
.btn1{
  margin:10px 0;
  padding:10px 40px;
  border-radius: 30px;
  outline: auto;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

/*Button for the Grid page*/
.btn2{
  margin-bottom: 10px;
  padding:10px 40px;
  border-radius: 30px;
  outline: none;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  justify-items: center;
  background-color: aqua;
  width:11em;
}

/*heading*/
h1{
  font-family: 'lexend deca', sans-serif;
  font-weight: 400;
  margin:10px;
  color:hsl(0, 0%, 95%);
}

/*Paragraph Containing the article for each vehicle*/
p{
  font-family: 'big shoulders display', cursive;
  margin:10px;
  font-weight: 700;
  color: hsla(0, 0%, 100%, 0.75);
}

/*the button info for container-1, containeer-2 and container-3*/
#btnbg1{
  background-color: hsl(31, 77%, 52%);
  border-color: hsl(0, 0%, 95%);

}
  #btnbg2{
    background-color: hsl(184, 100%, 22%);
    border-color: hsl(0, 0%, 95%);
  }

#btnbg3{
  background-color: hsl(179, 100%, 13%);
  border-color: hsl(0, 0%, 95%);
}


@media screen and (max-width:1440px) {
  .main{
    /*flex-flow:wrap;*/
    flex-direction: row;
    height:50vh;
        width:100%;
    flex:30%;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

.container-1{
flex-direction: row;
flex-flow: wrap;
height:100%;
width: 25%;
padding: 20px;
margin: 0px;
z-index: 2px;
}
.container-2{
flex-direction: column;
height:100%;
width: 25%;
padding: 20px;
margin: 0px;

}
.container-3{
flex-direction: column;
height:80%;
width: 25%;
padding: 20px;
margin: 0px;
z-index: 2px;
}

p{
text-size-adjust:10px;
}
}
.btn1{
  margin:10px 0;
  padding:10px 40px;
  border-radius: 30px;
  outline: auto;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer; 
  position: relative;
  bottom:40px;
  right:-8px
}

.btn2{
 
  padding:10px 40px;
  border-radius: 30px;
  outline: none;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  justify-items: center;
  
  background-color: aqua;
  width:11em;
  position: relative;
  bottom:70px;
  right:-8px
 
}



@media screen and (max-width:375px) {
  .main{
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
    margin:0;
  }

  .container-1{
flex-direction: column;
height:30%;
width: 100%;

  }
  .container-2{
    flex-direction: column;
    height:30%;
    width: 100%;
 
  }
  .container-3{
    flex-direction: column;
    height:30%;
    width: 100%;
  }
  p{
    text-size-adjust:12px;
  }
}
  